<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a><!--recordar que los vinculos en ejs se asume que ya estamos dentro de public por eso solo es /register-->
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a><!--vinculo a login-->

  </div>
</div>

<%- include('partials/footer') %>
